<% include ../partials/head %>

	<!-- PDF generator -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.debug.js"></script>
	<!-- CSS -->
	<link rel="stylesheet" href="/css/style.css">

	<script src="/javascripts/jquery.js"></script>
	<script src="/javascripts/Chart.js"></script>

<!-- Generate PDF -->
<script>
    //Create a PDF
	var doc = new jsPDF();
	var y = 35;
	doc.setFontSize(22);
	doc.setTextColor(0);
	doc.text(20 , 20, "Dossier patient : <% valeur.num %>");
</script>

<div class="row">
	<div class="col-md-8 col-md-offset-1">
		<h1> Dossier patient : <%= valeur.num %> </h1>
	</div>
</div>
<% var pam_moyenne=0; var pince_moyenne=0; var num=0; %>
<div class="row">
	<div class="col-md-12">
		<div class="col-md-10 col-md-offset-1">
			<% if (!valeur.patient.length) { %>
				<b> Pas de donnée enregistrés </b>
				<br><br>

			<%} else { %>
				<table class="table table-hover col-lg-4 col-lg-offset-1">

				<% valeur.patient.forEach(function(patient) { %>
					
					<tr>
						<td width=40> <%= patient.dA %> </td>
						<td width=40> <%= patient.dB %> </td>
						<td width=40> <%= patient.dC %> </td>
						<td width=20> <%= patient.dD %> </td>
						<td width=20> <%= patient.dPam %> </td>

						<% if (parseInt(patient.dPincee) < "40") { %>
							<td width=20 style="color:red; font-weight:bold">	
						<% } else { %>
							<td width=20> 
						<% } %> 	
						<%= patient.dPincee %></td>

						<script>
							doc.setFontSize(12);
							doc.setTextColor(0);
							doc.text(20 , y, "<%= patient.dA %>");
							doc.text(55 , y, "<%= patient.dB %>");
							doc.text(85 , y, "<%= patient.dC %>");
							doc.text(115 , y, "<%= patient.dD %>");
							doc.text(145 , y, "<%= patient.dPam %>");
							var str = "<%= patient.dPincee %>";
							if(str < 40){
								doc.setTextColor(255,0,0);
								doc.text(170 , y, str);
							}else{
								doc.text(170 , y, str);
							}
						</script>
					</tr>

					<script>
					   doc.setLineWidth(0.5);
					   doc.line(20, y + 3, 190, y + 3);
					   y = y + 10;
					</script>	

				<% pam_moyenne =+ patient.dPam %>
				<% pince_moyenne =+ patient.dPincee %>
				<% num++; }); %>
				</table>
				<script>
					doc.setTextColor(0);
					doc.text(20 , y + 10, "Valeur moyenne de PAM : " + <%= valeur.pam_moyenne %> + " mmHg");
					doc.text(20 , y + 15 , "Valeur moyenne de Pincee : " + <%= valeur.pince_moyenne %> + " mmHg");
				</script>			
			<% } %>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="col-md-6 col-md-offset-2">	
			Valeur moyenne de PAM : <%= valeur.pam_moyenne %> mmHg</br>
			Valeur moyenne de Pincee : <%= valeur.pince_moyenne %> mmHg
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="col-md-8 col-md-offset-2" style="text-align:center">
			<button onclick="myFunction(1)">Pouls</button>
			<button onclick="myFunction(2)">Systole/Diastole</button>
			<button onclick="myFunction(3)">Pam</button>
			<button onclick="myFunction(4)">Pincee</button>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div id="legend-canvas"></div>	
		<canvas id="mycanvas" width="400" height="400"></canvas>
	</div>
</div>

<script>
	function myFunction(test) {
		// Déclaration des tableaux labels et données
		var array_label = [];
		var array_data1 = [];
		var array_data2 = [];
		var y=0;
		var name;

		// ajoute les données aux tableaux pour le graph
		<% valeur.patient.forEach(function(patient) { %>
			if(y==0){
				// Permet d'afficher une légende au graphique
				if(test==1) document.getElementById("legend-canvas").innerHTML = "<font size=\"2\" color=\"red\"><%=patient.dB%></font>";
				if(test==2) document.getElementById("legend-canvas").innerHTML = "<font size=\"2\" color=\"red\"><%= patient.dC%></font>"+ "<font size=\"2\" color=\"black\">/</font>" + "<font size=\"2\" color=\"blue\"><%= patient.dD%></font>";
				if(test==3) document.getElementById("legend-canvas").innerHTML = "<font size=\"2\" color=\"red\"><%= patient.dPam%></font>";
				if(test==4) document.getElementById("legend-canvas").innerHTML = "<font size=\"2\" color=\"red\"><%=patient.dPincee%></font>";
				y++;
			}
			else{
				// Permet de mettre les données dans le tableau
				if(test==1)array_data1.push(<%=patient.dB%>);
				if(test==2){
					array_data1.push(<%= patient.dC%>);
					array_data2.push(<%= patient.dD%>);
				}
				if(test==3)array_data1.push(<%= patient.dPam%>);
				if(test==4)array_data1.push(<%= patient.dPincee%>);
				array_label.push("<%= patient.dA%>");
			}
			
		<% }); %>

		// Déclaration des données composant le graphique
		var lineChartData ={
			labels:array_label,
			datasets :[{
				label : name,
				fillColor: "rgba(0,220,220,0)",
		        strokeColor: "rgba(232,21,21,1)",
		        pointColor: "rgba(232,21,21,1)",
		        pointStrokeColor: "#fff",
		        pointHighlightFill: "#fff",
		        pointHighlightStroke: "rgba(220,220,220,1)",
				data :array_data1
			}]
		}

		// Si test est égale à 2 alors il faut ajouter une donnée à datasets
		if(test==2){
			lineChartData.datasets.push({
				label : name,
				fillColor: "rgba(0,220,220,0)",
		        strokeColor: "rgba(21,21,232,1)",
		        pointColor: "rgba(21,21,232,1)",
		        pointStrokeColor: "#fff",
		        pointHighlightFill: "#fff",
		        pointHighlightStroke: "rgba(220,220,220,1)",
				data :array_data2
			});
		}

		// Mets en place le contexte pour écrire le graphique dans l'id "mycanvas"
		var ctx = document.getElementById("mycanvas").getContext("2d");
		var lineOptions  = {
			pointDotRadius : 3,
			bezierCurse:false,
			scaleShowVerticalLines : false,
			scaleGridLineColor: "black"
		}
		// Déclaration du graphique
		var LineChart = new Chart(ctx).Line(lineChartData,lineOptions);
	}
</script>

<!-- Download PDF -->
<div class="row">
	<div class="col-md-8 col-md-offset-1">
		<br>
		<form>
		         <button class="button" onclick="doc.save('Result.pdf')">Download PDF</button>
		</form>
		<br>
		<!-- Return -->
		<form>
		        <a href="/liste"><input type="button" class="button" value="Return"></a>
		</form>
	</div>
</div>

<% include ../partials/foot %>